<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672712785008-g19ect9i8as61m3cfmslgv4qccgl6mpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672712785008-g19ect9i8as61m3cfmslgv4qccgl6mpp</string>
	<key>API_KEY</key>
	<string>AIzaSyDswetNs-rp5p85fHskcYDEm8NXZB03-X8</string>
	<key>GCM_SENDER_ID</key>
	<string>672712785008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mark.xamarin.module.notification</string>
	<key>PROJECT_ID</key>
	<string>xamarin-freejob</string>
	<key>STORAGE_BUCKET</key>
	<string>xamarin-freejob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672712785008:ios:8995893b0b2034325788b5</string>
	<key>DATABASE_URL</key>
	<string>https://xamarin-freejob.firebaseio.com</string>
</dict>
</plist>